extends layout

block title
  | Welcome to Moose your personal CMS

//-block links

block app
  .page
    .spacer-60.desktop
    .container
      .pure-g-r
        .pure-u-1-2
          .spacer-60
          img(src='static/img/moose-logo.png', width='150')
          h2 Bring life to your website
          p.light Moose is coming late 2014
            br.desktop
            | but we need your help and support!

          .spacer-20
          p.light
            small Moose has been invented with love
              br.desktop
              | by 
              a.link(href='http://plasticpanda.com', target='_blank') Plastic Panda
              |  in Milan

          .spacer-20
          p.light
            a.link.link-accent(href='static/pdf/moose-v0.4.pdf', target='_blank') Discover more here

          hr.mobile

        .pure-u-1-2

          h2 Keep informed
          p.light We won't bother you with lot of emails,
            br.desktop
            | we promise!
          
          .spacer-20.mobile

          #mc_embed_signup
            form.pure-form(action="http://plasticpanda.us3.list-manage.com/subscribe/post?u=f9372b71842d5abe1a41e1edc&amp;id=d831df4846", method="post", id="mc-embedded-subscribe-form", name="mc-embedded-subscribe-form", class="validate", target="_blank", required)
              
              .mc-field-group
                label(for="mce-EMAIL") Email Address
                input(type="email", value="", name="EMAIL", class="required email", id="mce-EMAIL")

              .mc-field-group
                label(for="mce-FNAME") First Name
                input(type="text", value="", name="FNAME", class="", id="mce-FNAME")

              .mc-field-group
                label(for="mce-LNAME") Last Name
                input(type="text", value="", name="LNAME", class="", id="mce-LNAME")
              
              #mce-responses.clear
                .response#mce-error-response(style="display:none")
                .response#mce-success-response(style="display:none")

              div(style="position: absolute; left: -5000px;")
                input(type="text", name="b_f9372b71842d5abe1a41e1edc_d831df4846", value="")

              .spacer-20
              button.pure-button(type="submit", name="subscribe", id="mc-embedded-subscribe") Subscribe

    .spacer-100
    .spacer-20.mobile

  .notify
    h4 We'll be at the StartupWeekend in Milan on Jan, 31st :-)
//-block scripts
